.App-header {
  padding-top: 30px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-article {
  padding-left: 10px;
}

.App-buttons {
  padding-left: 10px;
}

.App-link {
  color: #61dafb;
}

.Title{
  font-weight: bold;
  color: royalblue;
  font-size: calc(10px + 3vmin);
}